*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    align-items: center;
    background: #f1f1f1;
    justify-content: center;
}
.header-top{
   background-color: aqua; 
   padding: 8px 0;
}
.logo{
    float: left;
    margin-right: 10px;
}
.logo a{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.slogan{
    margin-top: 25px;
}
.slogan span{
    margin-top: 15px;
    color: #396bc3;
    font-weight: bold;
    font-size: 20px;
}
.hotline{
    margin-top: 15px;
}
.hotline img{
    vertical-align: middle;
    border-style: none;
}
.hotline span{
    color: #ee1c24;
    font-weight: bold;
    font-size: 21px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}
.log-in{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px 20px;
    justify-content: center;
}
.signin img{
   width: 30px;
   height: 30px;
   
}
.login{
    margin-left: 10px;
}
.login img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
.signin span{
    font-size: 10px;
}
.login span{
    font-size: 10px;
}
.header-menu{
    background-color: rgba(0,255,0,0.9);
  
}
.menu{
    text-align: left;
    padding: 0 0;
    margin: 0 0;
    border-style: 3px solid #fff;
}
.mega-menu {
    display: inline-block;
}
.mega-menu a{
    text-decoration: none;
    color: #fff;
    border-color: #fff;
    padding: 0 20px;
    line-height: 46px;
}
.mega-menu:hover {
    background: #ee1c24;
}
.mega-menu a:hover{
    color: #fff;
}
.header-video {
    position:relative;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-video iframe{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.header-video h2{
    position:absolute;
    font-size: 4vw;
    color: #fff;
    font-weight: 800;
    text-transform:capitalize;
    z-index: 3;
    text-shadow: 0 20px 30px rgba(0,0,0,0.2);
}
.text1 , .text2{
    display: flex;
    padding: 0 20px 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}
.text1 h2{
    font-size: 40px;
    font-weight: 400;
    color: black;
    font-family: 'Satisfy', cursive;
    text-transform: capitalize;
}
.List-product{
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 30px auto;
    padding: 0;
    background: #fff;
    box-shadow: 0 1px 8px rgb(55 55 55 / 15%);
    text-align: center;
}
.product__child{
    padding: 15px 0;
    position: relative;
    background-color: black;
}
.product__child-img img{
    max-width: 100%;
    border: 0;
}
.product__child-title span{
    position: relative;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    
}
.product__child a span{
    display: block;
    transition: .2s ease;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 40px;
    margin-top: -40px;
    font-size: 24px;
    color: #fff;
    line-height: 40px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 80%);
    z-index: 4;
}
.product__child a{
    transition: .2s ease;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 4;
}

.product__child:hover  a {
    opacity: 1;
}


.product__child:hover a span {
    z-index: 4;
    color: greenyellow;
}

.Certificate{
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 30px auto;
    padding: 0;
    background: #fff;
    box-shadow: 0 1px 8px rgb(55 55 55 / 15%);
    text-align: center;
}
.Cer{
    border: 2px;
}
.Cer img{
    width: 100%;
    height: 600px;
}
.text2 h2{
    font-size: 40px;
    font-weight: 400;
    color: black;
    font-family: 'Satisfy', cursive;
    text-transform: capitalize;
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .footer-res{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .noi-dung.about h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer  .noi-dung.about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50%;
    height: 2px;
    background: #f00;
}
footer .about p{
    color: #999;
    text-align: justify;
}

.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.links h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50%;
    height: 2px;
    background: #f00;
}
.links{
   position: relative; 
}
.links ul li{
    list-style: none;
}
.links ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.links ul li a:hover{
    color: #fff;
}
.contact h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.contact h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50%;
    height: 2px;
    background: #f00;
}
.contact{
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}
.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    margin-top:16px;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.btn--primary {
    background: #222;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 8px 24px;
}
.btn--primary:hover {
    background: #f00;
}
.btn--primary:active {
    background: #f00;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.form__field {
    width: 90%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 2px solid black;
    outline: 0;
    padding: 8px 4px;
  
} 
.form__field:focus{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
